docker-build/flows.json
[{"id":"1d673d65.23ce53","type":"tab","label":"Flow 1"},{"id":"39589244.06e2ee","type":"mqtt-broker","z":"1d673d65.23ce53","broker":"localhost","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4a853a4e.1addc4","type":"selenium-server","z":"1d673d65.23ce53","remoteurl":"http://localhost:4444/wd/hub"},{"id":"e43f97a7.73f328","type":"selenium-server","z":"1d673d65.23ce53","remoteurl":"http://selenium-hub:4444/wd/hub"},{"id":"f6bdc90.e021a38","type":"function","z":"1d673d65.23ce53","name":"ErrorHandle","func":"if (msg.error) {\n    msg.statusCode = 400;\n    msg.payload = msg.error;\n}\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":182,"wires":[["8f0a2f32.a03c4"]]},{"id":"c8531886.050b98","type":"inject","z":"1d673d65.23ce53","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":102,"wires":[["f9b2f359.9a038"]]},{"id":"8f0a2f32.a03c4","type":"debug","z":"1d673d65.23ce53","name":"","active":true,"console":"false","complete":"false","x":975,"y":182,"wires":[]},{"id":"f9b2f359.9a038","type":"open-web","z":"1d673d65.23ce53","name":"","browser":"chrome","weburl":"https://www.google.com/","width":"480","height":"640","webtitle":"Google","timeout":"3000","maximized":false,"server":"e43f97a7.73f328","x":261,"y":103,"wires":[["69a9589f.dbefc8"]]},{"id":"e05e251e.991b58","type":"close-web","z":"1d673d65.23ce53","name":"","waitfor":"1500","x":655,"y":182,"wires":[["f6bdc90.e021a38"]]},{"id":"db67f805.930688","type":"delay","z":"1d673d65.23ce53","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":505,"y":182,"wires":[["e05e251e.991b58"]]},{"id":"69a9589f.dbefc8","type":"find-object","z":"1d673d65.23ce53","name":"","selector":"name","target":"btnK","timeout":"1000","waitfor":"1500","x":445,"y":102,"wires":[["7aeee1d4.d5113"]]},{"id":"7aeee1d4.d5113","type":"get-value","z":"1d673d65.23ce53","name":"CheckButton","expected":"Tìm với Google","selector":"name","target":"btnK","timeout":"1000","waitfor":"1500","savetofile":false,"x":635,"y":102,"wires":[["d33bf27a.7b162"]]},{"id":"d33bf27a.7b162","type":"send-keys","z":"1d673d65.23ce53","name":"","text":"cuongdd1","selector":"xpath","target":"//*[@id=\"lst-ib\"]","timeout":"1000","waitfor":"1500","clearval":false,"x":815,"y":102,"wires":[["46ec834c.be079c"]]},{"id":"732d0e45.99d89","type":"click-on","z":"1d673d65.23ce53","name":"","selector":"name","target":"btnG","timeout":"10000","waitfor":"1500","clickon":false,"x":165,"y":182,"wires":[["df4feb78.84a108"]]},{"id":"df4feb78.84a108","type":"run-script","z":"1d673d65.23ce53","name":"","func":"\nreturn arguments[0].innerHTML;","selector":"name","target":"","timeout":"10000","waitfor":"1500","x":335,"y":182,"wires":[["db67f805.930688"]]},{"id":"cbf33fbc.14736","type":"link in","z":"1d673d65.23ce53","name":"","links":["46ec834c.be079c"],"x":20,"y":182,"wires":[["732d0e45.99d89"]]},{"id":"46ec834c.be079c","type":"link out","z":"1d673d65.23ce53","name":"","links":["cbf33fbc.14736"],"x":940,"y":102,"wires":[]}]