docker-build/flows.json
[{"id":"926b3f98.8e39b","type":"function","z":"ea1a3594.e0b388","name":"ErrorHandle","func":"if (msg.error) {\n    msg.statusCode = 400;\n    msg.payload = msg.error;\n}\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":160,"wires":[["7bc2b4d7.1af1ac"]]},{"id":"9277faae.e34398","type":"inject","z":"ea1a3594.e0b388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":80,"wires":[["59dcd0e3.e6f8"]]},{"id":"7bc2b4d7.1af1ac","type":"debug","z":"ea1a3594.e0b388","name":"","active":true,"console":"false","complete":"false","x":1025,"y":160,"wires":[]},{"id":"59dcd0e3.e6f8","type":"open-web","z":"ea1a3594.e0b388","name":"","weburl":"https://www.google.com/","width":"480","height":"640","webtitle":"Google","timeout":"3000","maximized":false,"server":"10580f8e.dd406","x":305,"y":80,"wires":[["a81bfa2e.3c4d28"]]},{"id":"1fbe977d.b55ff9","type":"close-web","z":"ea1a3594.e0b388","name":"","waitfor":"1500","x":705,"y":160,"wires":[["926b3f98.8e39b"]]},{"id":"a40f19ca.fe1bb8","type":"delay","z":"ea1a3594.e0b388","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":555,"y":160,"wires":[["1fbe977d.b55ff9"]]},{"id":"a81bfa2e.3c4d28","type":"find-object","z":"ea1a3594.e0b388","name":"","selector":"name","target":"btnK","timeout":"1000","waitfor":"1500","x":495,"y":80,"wires":[["6f74b28e.96facc"]]},{"id":"6f74b28e.96facc","type":"get-value","z":"ea1a3594.e0b388","name":"CheckButton","expected":"Tìm với Google","selector":"name","target":"btnK","timeout":"1000","waitfor":"1500","savetofile":false,"x":685,"y":80,"wires":[["f448d12b.44d98"]]},{"id":"f448d12b.44d98","type":"send-keys","z":"ea1a3594.e0b388","name":"","text":"cuongdd1","selector":"xpath","target":"//*[@id=\"lst-ib\"]","timeout":"1000","waitfor":"1500","clearval":false,"x":865,"y":80,"wires":[["99a34427.5f60e8"]]},{"id":"4132fe7f.cca13","type":"click-on","z":"ea1a3594.e0b388","name":"","selector":"name","target":"btnG","timeout":"10000","waitfor":"1500","clickon":false,"x":219,"y":205,"wires":[["9fb9d660.1e6628"]]},{"id":"9fb9d660.1e6628","type":"run-script","z":"ea1a3594.e0b388","name":"","func":"\nreturn arguments[0].innerHTML;","selector":"name","target":"","timeout":"10000","waitfor":"1500","x":385,"y":160,"wires":[["a40f19ca.fe1bb8"]]},{"id":"48111bb2.8e0934","type":"link in","z":"ea1a3594.e0b388","name":"","links":["99a34427.5f60e8"],"x":70,"y":160,"wires":[["4132fe7f.cca13"]]},{"id":"99a34427.5f60e8","type":"link out","z":"ea1a3594.e0b388","name":"","links":["48111bb2.8e0934"],"x":990,"y":80,"wires":[]},{"id":"10580f8e.dd406","type":"selenium-server","z":"ea1a3594.e0b388","remoteurl":"http://selenium-hub:4444/wd/hub","browser":"chrome"}]
